[submodule "tamzen-font"]
	path = tamzen-font
	url = git@github.com:sunaku/tamzen-font.git
[submodule "Termsyn-Powerline"]
	path = Termsyn-Powerline
	url = git@github.com:Anarky/Termsyn-Powerline.git
[submodule "jmk-x11-fonts"]
	path = jmk-x11-fonts
	url = git@github.com:nikolas/jmk-x11-fonts.git
[submodule "gohufont-ttf"]
	path = gohufont-ttf
	url = git@github.com:koemaeda/gohufont-ttf
[submodule "ttf-iosevka-term"]
	path = ttf-iosevka-term
	url = https://aur.archlinux.org/ttf-iosevka-term.git
[submodule "scientifica"]
	path = scientifica
	url = git@github.com:NerdyPepper/scientifica.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "siji"]
	path = siji
	url = git@github.com:stark/siji.git
